{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us | DeeValley{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Contact Us</h1>
            <p class="lead">Get in touch with our team</p>
            
            <div class="contact-info">
                <p><strong>Phone:</strong> +254 797 398004</p>
                <p><strong>Email:</strong> vincentotienoakuku@gmail.com</p>
                <p><strong>WhatsApp:</strong> +254 798 846196</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}