{% load static %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap" rel="stylesheet">

  <title>{% block title %}{{ site_name }} | {{ site_tagline }}{% endblock %}</title>
  <meta name="title" content="{% block meta_title %}{{ site_name }} | {{ site_tagline }}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{{ site_description }}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}{{ site_keywords }}{% endblock %}">
  <meta name="author" content="{{ site_name }}">
  <meta name="robots" content="{% block robots %}index, follow, max-image-preview:large{% endblock %}">
  <meta name="language" content="English">
  <meta name="geo.region" content="KE">
  <meta name="geo.placename" content="Nairobi, Kenya">
  <meta name="theme-color" content="#10284e">

  <link rel="canonical" href="{% block canonical_url %}{{ canonical_url }}{% endblock %}">
  <link rel="icon" href="{% static 'img/favicon-192.png' %}" type="image/png">
  <link rel="apple-touch-icon" href="{% static 'img/favicon-192.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

  <meta property="og:type" content="{% block og_type %}website{% endblock %}">
  <meta property="og:site_name" content="{{ site_name }}">
  <meta property="og:locale" content="en_KE">
  <meta property="og:title" content="{% block og_title %}{{ site_name }} | {{ site_tagline }}{% endblock %}">
  <meta property="og:description" content="{% block og_description %}{{ site_description }}{% endblock %}">
  <meta property="og:url" content="{% block og_url %}{{ canonical_url }}{% endblock %}">
  <meta property="og:image" content="{% block og_image %}{{ site_url }}{% static 'img/showcase.avif' %}{% endblock %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% block twitter_title %}{{ site_name }} | {{ site_tagline }}{% endblock %}">
  <meta name="twitter:description" content="{% block twitter_description %}{{ site_description }}{% endblock %}">
  <meta name="twitter:image" content="{% block twitter_image %}{{ site_url }}{% static 'img/showcase.avif' %}{% endblock %}">

  {% block meta %}{% endblock %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "RealEstateAgent",
    "name": "{{ site_name|escapejs }}",
    "url": "{{ site_url }}",
    "description": "{{ site_description|escapejs }}",
    "areaServed": {
      "@type": "Country",
      "name": "Kenya"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Nairobi",
      "addressCountry": "KE"
    }
  }
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/cookie-consent.css' %}">
  {% block extra_css %}{% endblock %}

  {% block extra_head %}{% endblock %}
</head>

<body>
  <header class="site-header" id="site-header">
    {% include 'partials/_topbar.html' %}
    {% include 'partials/_navbar.html' %}
  </header>

  <main id="main-content" role="main">
    {% block content %}{% endblock %}
  </main>

  {% include 'partials/_footer.html' %}
  {% include 'partials/_whatsapp_chatbot.html' %}

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/lightbox.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
